
# Lines starting with # are ignored
# Format: CourseName StudentID StudentName [GroupName]
# GroupName is optional
# Each file represents one class/course (one Gitea organization)
# All entries in a file should use the same CourseName
# CourseName (organization) and GroupName (team) must not contain spaces

# CourseName StudentID StudentName GroupName
114-2_ExampleCourse A1234567 StudentA
114-2_ExampleCourse B9876543 StudentB
# 114-2_ExampleCourse C1122334 StudentC
114-2_ExampleCourse D5678901 StudentD
114-2_ExampleCourse E1234567 StudentE TeamAlpha
114-2_ExampleCourse F1234567 StudentF TeamAlpha
